html{

    font-family: sans-serif;
}


body { 
    font-family: Arial; 
    padding: 20px; 
    
}

h2{
    font-family: sans-serif;
}

  canvas { 
    /* border: 1px solid #333;  */
    margin-top: 10px; 
}

  pre { background: #f4f4f4; 
    padding: 10px; 
}

.card{
margin-bottom: 10px;
}